#project{
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGllZnUybTR0NnQxZW51eG9na2R0cmQ4Z3NzOGljbTVnODg0aDZ0NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WUyQbeKHhpaHrrKJu6/giphy.webp");
    background-size: cover;
}
#pro{
    background-color: rgba(92, 92, 93, 0.712);

}